@font-face {
    font-family: "example";
    src: url($fontUrl+'example.eot');
    src: url($fontUrl+'example.eot?#iefix') format('eot'),
        url($fontUrl+'example.woff2') format('woff2'),
        url($fontUrl+'example.woff') format('woff'),
        url($fontUrl+'example.ttf') format('truetype'),
        url($fontUrl+'example.svg#example') format('svg');
}

@mixin example-styles {
    font-family: "example";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}