extends ./share/container
block append config
    - var currentId = 'service'
    - pageCss = 'service'
    - pageJs = 'sidepage'
    - head.keywords = "神话捕鱼游戏客服,神话捕鱼客服联系方式"
    - head.title = "神话捕鱼合作专区-牌缘游戏官网"
    - head.description = "神话捕鱼游戏客服为各位广大玩家提供了神话捕鱼客服联系方式，让玩家可以更加方便的解决在游戏中遇到的所有问题，为大家创造一个愉快开心的游戏环境，让大家可以拥有一个美好的游戏体验。"
block append main
    #right_page
        form(action="/sidemenu",method="get")
            p First name: 
                input(type="text",name="fname")
            p Last name: 
                input(type="text",name="lname")
            input(type="submit",value="Submit")
    div