@-webkit-keyframes hahha {
  from {
    width: 100;
  }
}

@keyframes hahha {
  from {
    width: 100;
  }
}

.dd {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.ff {
  border-radius: 10%;
  behavior: url(../css/PIE.htc);
}

.pp {
  width: 1000px;
  width: 10rem;
  height: 1000px;
  height: 10rem;
  background: -webkit-linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d3353', endColorstr='#ff020031', GradientType=0);
  border-radius: 0.1rem;
  behavior: url(../css/PIE.htc);
}

a:before {
  background: red;
  width: 750px;
  width: 7.5rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: flex;
}