#aside
    .content
        a(href='#')
            img(src=imgUrl+'common/pc.png')
        a(href='javascript:void(0)')
            img.ios(src=imgUrl+'common/ios.png')
        a(href='http://imgs.198898game.com/fishworld/applications/pygame_1000/android/com.fingerfish.pygame.apk?version=1')
            img.android(src=imgUrl+'common/android.png')
    ul.code
        li.ios
            img(src='http://imgs.198898game.com/down/erweima_ios.jpg')
        li.android
            img(src='http://imgs.198898game.com/down/erweima_android.png')